SQL can execute queries against a database
SQL can retrieve data from a database
SQL can insert records in a database
SQL can update records in a database
SQL can delete records from a database
SQL can create new databases
SQL can create new tables in a database
SQL can create stored procedures in a database
SQL can create views in a database
SQL can set permissions on tables, procedures, and views

SELECT * FROM Customers;
SELECT CustomerName, City FROM Customers;
SELECT DISTINCT Country FROM Customers;

In [5]:
nummer = 1
kommar = 1.4
test = "test"



dic = {"nummer": nummer, "kommar": kommar , "test": test}

print(type(test), "\n", type(kommar), "\n", type(nummer), "\n", type(dic))

<class 'str'>
 <class 'float'>
 <class 'int'>
 <class 'dict'>

In [ ]:
import random
imp
''' 
zufallszahlen

Dic
Element 1 = UUID 
articel = Text
price 2,99 - 5000
Werung
menge 
Stückzahl zufällig 1 - 50


Produktkatalog 5 Artikel 
Zufällig eine Position ausfählen
20x 
#

id , articlenumber, quantity, price, currency
 
'''

In [6]:
import pandas as pd

# File path
file_path = r"C:\App\Python\aufgaben_verwaltung\Produktkatalog.xlsx"

# Read the Excel file into a DataFrame
df = pd.read_excel(file_path)

# Convert the DataFrame to a list of dictionaries
list_of_dicts = df.to_dict(orient='records')

# Print the list of dictionaries
print(list_of_dicts)

[{'articlenumber': 1234, 'articlename': 'Zahnbuerste', 'price': 3.99, 'currency': 'EUR'}, {'articlenumber': 1245, 'articlename': 'Glas', 'price': 10.99, 'currency': 'EUR'}, {'articlenumber': 4564, 'articlename': 'Brötchen', 'price': 0.6, 'currency': 'EUR'}, {'articlenumber': 6241, 'articlename': 'Tastatur', 'price': 210.5, 'currency': 'EUR'}, {'articlenumber': 5423, 'articlename': 'Maus', 'price': 90.8, 'currency': 'EUR'}]

In [ ]:
# Auftraggeber (Kunden), Auftragsnummer, Preis, Rechnungsadresse, Shopid, Datum, Hersteller, Herstellungsort
#Auftragskopf, Auftragsposition, Produkte
# dictornnary definieren

In [14]:
import uuid
import random

# Product catalog
product_catalogue = [
    {'articlenumber': 1234, 'articlename': 'Zahnbuerste', 'price': 3.99, 'currency': 'EUR'},
    {'articlenumber': 1245, 'articlename': 'Glas', 'price': 10.99, 'currency': 'EUR'},
    {'articlenumber': 4564, 'articlename': 'Brötchen', 'price': 0.6, 'currency': 'EUR'},
    {'articlenumber': 6241, 'articlename': 'Tastatur', 'price': 210.5, 'currency': 'EUR'},
    {'articlenumber': 5423, 'articlename': 'Maus', 'price': 90.8, 'currency': 'EUR'},
    {'articlenumber': 6501, 'articlename': 'nvidia geforce rtx 4090', 'price': 2389.00, 'currency': 'EUR'}
]

order_header = {"order_id": str(uuid.uuid4()), "customer":"Kund1", "manufacturer": "Fielmann Group AG", "manufactur place":"Hamburg", "shopnumber": 112120123, "date": "10.10.2024"}
# Create a new list with 20 items
new_list = []

for _ in range(20):
    # Randomly select an item from the product catalogue
    product = random.choice(product_catalogue)
    
    # Generate a random quantity between 1 and 20
    quantity = random.randint(1, 20)
    
    # Calculate the total price
    total_price = product['price'] * quantity
    
    # Create a dictionary with the required fields
    item = {
        'id': str(uuid.uuid4()), 
        'order_id': order_header['order_id'],                             # Generate a unique ID
        'articlenumber': product['articlenumber'], 
        'articlename': product['articlename'], 
        'quantity': quantity,
        'price': total_price,
        'currency': product['currency']
    }
    
    # Add the item to the list
    new_list.append(item)

# Print the resulting list
for item in new_list:
    print(item)


#

{'id': '14ef6401-c2f6-4727-a3ce-36d7c22e751a', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 1245, 'articlename': 'Glas', 'quantity': 18, 'price': 197.82, 'currency': 'EUR'}
{'id': '527512f8-917b-400e-bc65-bc339a7fc701', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 1245, 'articlename': 'Glas', 'quantity': 20, 'price': 219.8, 'currency': 'EUR'}
{'id': '3726202f-ed6e-4121-ab26-0955815d71e1', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 1245, 'articlename': 'Glas', 'quantity': 18, 'price': 197.82, 'currency': 'EUR'}
{'id': '8620a5b7-ad9b-4a42-adfc-2a0a1abba01b', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 6241, 'articlename': 'Tastatur', 'quantity': 3, 'price': 631.5, 'currency': 'EUR'}
{'id': '9fc30566-8d58-4f08-b3f7-a2fc7edb562f', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 5423, 'articlename': 'Maus', 'quantity': 20, 'price': 1816.0, 'currency': 'EUR'}
{'id': '67f4d7a4-8a48-42a9-8f47-02e8b07a2ebd', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 1234, 'articlename': 'Zahnbuerste', 'quantity': 6, 'price': 23.94, 'currency': 'EUR'}
{'id': 'b87b9af4-89ca-4ada-bc5b-eddae1725dea', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 1234, 'articlename': 'Zahnbuerste', 'quantity': 15, 'price': 59.85, 'currency': 'EUR'}
{'id': 'ace60722-4498-4706-8384-e12fa709ab50', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 4564, 'articlename': 'Brötchen', 'quantity': 19, 'price': 11.4, 'currency': 'EUR'}
{'id': 'd9b56216-2845-45eb-ad53-e2807d465537', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 5423, 'articlename': 'Maus', 'quantity': 12, 'price': 1089.6, 'currency': 'EUR'}
{'id': '808dfb95-c7de-4cd6-a592-99f6f1fadc75', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 1234, 'articlename': 'Zahnbuerste', 'quantity': 6, 'price': 23.94, 'currency': 'EUR'}
{'id': 'edbb866b-edab-4156-ae83-d45915e67d28', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 6501, 'articlename': 'nvidia geforce rtx 4090', 'quantity': 18, 'price': 43002.0, 'currency': 'EUR'}
{'id': '43051efa-ae8f-44cd-915f-0cb688c1b354', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 1234, 'articlename': 'Zahnbuerste', 'quantity': 14, 'price': 55.86, 'currency': 'EUR'}
{'id': 'ab07221a-74df-4765-bd2d-b0dff8daf959', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 6501, 'articlename': 'nvidia geforce rtx 4090', 'quantity': 7, 'price': 16723.0, 'currency': 'EUR'}
{'id': 'f36d2e49-58d6-40e0-8318-789d5aa1b2d6', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 6501, 'articlename': 'nvidia geforce rtx 4090', 'quantity': 6, 'price': 14334.0, 'currency': 'EUR'}
{'id': '4882f13f-843e-4b2d-b81c-31a39f85700e', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 6501, 'articlename': 'nvidia geforce rtx 4090', 'quantity': 17, 'price': 40613.0, 'currency': 'EUR'}
{'id': 'e802e70d-b95c-47f9-873f-07826fbbf8d4', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 1245, 'articlename': 'Glas', 'quantity': 11, 'price': 120.89, 'currency': 'EUR'}
{'id': 'be12976e-1bfc-46eb-91c8-8b5562e4f4a1', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 1234, 'articlename': 'Zahnbuerste', 'quantity': 10, 'price': 39.900000000000006, 'currency': 'EUR'}
{'id': 'f9472a09-172f-431e-9ff0-291da44b5be4', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 6501, 'articlename': 'nvidia geforce rtx 4090', 'quantity': 8, 'price': 19112.0, 'currency': 'EUR'}
{'id': '7b06e3d2-28ca-47a5-b615-281cd9047da9', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 6501, 'articlename': 'nvidia geforce rtx 4090', 'quantity': 7, 'price': 16723.0, 'currency': 'EUR'}
{'id': '139f9935-aa86-454c-a449-4c9a96742143', 'order_id': '783510f9-78d8-446c-9c6f-2135d9ee6953', 'articlenumber': 5423, 'articlename': 'Maus', 'quantity': 13, 'price': 1180.3999999999999, 'currency': 'EUR'}

In [2]:
import sqlite3
import uuid
import random
from datetime import datetime, timedelta

# Product catalog
product_catalogue = [
    {'articlenumber': 1234, 'articlename': 'Zahnbuerste', 'price': 3.99, 'currency': 'EUR'},
    {'articlenumber': 1245, 'articlename': 'Glas', 'price': 10.99, 'currency': 'EUR'},
    {'articlenumber': 4564, 'articlename': 'Brötchen', 'price': 0.6, 'currency': 'EUR'},
    {'articlenumber': 6241, 'articlename': 'Tastatur', 'price': 210.5, 'currency': 'EUR'},
    {'articlenumber': 5423, 'articlename': 'Maus', 'price': 90.8, 'currency': 'EUR'},
    {'articlenumber': 6501, 'articlename': 'nvidia geforce rtx 4090', 'price': 2389.00, 'currency': 'EUR'}
]

# Customer data
customers = [
    {"customer_id": str(uuid.uuid4()), "first_name": "Max", "last_name": "Mustermann", "email": "max.mustermann@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Erika", "last_name": "Musterfrau", "email": "erika.musterfrau@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "John", "last_name": "Doe", "email": "john.doe@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Jane", "last_name": "Doe", "email": "jane.doe@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Hans", "last_name": "Meier", "email": "hans.meier@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Anna", "last_name": "Schmidt", "email": "anna.schmidt@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Peter", "last_name": "Müller", "email": "peter.mueller@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Laura", "last_name": "Schneider", "email": "laura.schneider@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Michael", "last_name": "Fischer", "email": "michael.fischer@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Claudia", "last_name": "Weber", "email": "claudia.weber@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Stefan", "last_name": "Wagner", "email": "stefan.wagner@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Marie", "last_name": "Becker", "email": "marie.becker@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Sebastian", "last_name": "Hoffmann", "email": "sebastian.hoffmann@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Katrin", "last_name": "Schulz", "email": "katrin.schulz@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Alexander", "last_name": "Koch", "email": "alexander.koch@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Nina", "last_name": "Bauer", "email": "nina.bauer@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Oliver", "last_name": "Richter", "email": "oliver.richter@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Simone", "last_name": "Klein", "email": "simone.klein@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Lukas", "last_name": "Wolf", "email": "lukas.wolf@example.com"},
    {"customer_id": str(uuid.uuid4()), "first_name": "Julia", "last_name": "Neumann", "email": "julia.neumann@example.com"}
]

# Database connection
conn = sqlite3.connect('orders.db')
cursor = conn.cursor()

# Create tables
cursor.execute('''
CREATE TABLE IF NOT EXISTS product (
    articlenumber INTEGER PRIMARY KEY,
    articlename TEXT NOT NULL,
    price REAL NOT NULL CHECK (price == ROUND(price, 2)),
    currency TEXT NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS customer (
    customer_id TEXT PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    email TEXT NOT NULL,
    UNIQUE (first_name, last_name, email)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS order_header (
    order_id TEXT PRIMARY KEY,
    customer_id TEXT NOT NULL,
    manufacturer TEXT NOT NULL,
    manufactur_place TEXT NOT NULL,
    shopnumber INTEGER NOT NULL,
    date TEXT NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customer (customer_id)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS order_item (
    id TEXT PRIMARY KEY,
    order_id TEXT NOT NULL,
    articlenumber INTEGER NOT NULL,
    articlename TEXT NOT NULL,
    quantity INTEGER NOT NULL,
    price REAL NOT NULL CHECK (price == ROUND(price, 2)),
    currency TEXT NOT NULL,
    order_date TEXT NOT NULL,
    FOREIGN KEY (order_id) REFERENCES order_header (order_id),
    FOREIGN KEY (articlenumber) REFERENCES product (articlenumber)
)
''')

# Insert customers into customer table
for customer in customers:
    cursor.execute('''
    INSERT INTO customer (customer_id, first_name, last_name, email)
    VALUES (?, ?, ?, ?)
    ''', (customer['customer_id'], customer['first_name'], customer['last_name'], customer['email']))

# Insert products into product table
for product in product_catalogue:
    cursor.execute('''
    INSERT OR IGNORE INTO product (articlenumber, articlename, price, currency)
    VALUES (?, ?, ROUND(?, 2), ?)
    ''', (product['articlenumber'], product['articlename'], product['price'], product['currency']))

# Generate orders and order items for each month from January to 12th August 2024
start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 8, 12)

while start_date <= end_date:
    for _ in range(10):  # 10 orders per month
        order_id = str(uuid.uuid4())
        customer = random.choice(customers)
        order_date = start_date.strftime('%Y-%m-%d')
        
        cursor.execute('''
        INSERT INTO order_header (order_id, customer_id, manufacturer, manufactur_place, shopnumber, date)
        VALUES (?, ?, ?, ?, ?, ?)
        ''', (order_id, customer['customer_id'], "Fielmann Group AG", "Hamburg", random.randint(100000000, 999999999), order_date))
        
        # Generate 20 items per order
        for _ in range(20):
            product = random.choice(product_catalogue)
            quantity = random.randint(1, 20)
            total_price = round(product['price'] * quantity, 2)
            
            cursor.execute('''
            INSERT INTO order_item (id, order_id, articlenumber, articlename, quantity, price, currency, order_date)
            VALUES (?, ?, ?, ?, ?, ROUND(?, 2), ?, ?)
            ''', (str(uuid.uuid4()), order_id, product['articlenumber'], product['articlename'], quantity, total_price, product['currency'], order_date))
    
    # Move to the next month
    start_date += timedelta(days=32)  # Adding 32 days to ensure month shift
    start_date = start_date.replace(day=1)

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Data has been successfully inserted into the database.")

OperationalError: database is locked